.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    height: 80%
  }
  
  .modal.show {
    opacity: 1;
    visibility: visible;
  }
  
  .modal .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .modal .modal-content .close {
    cursor: pointer;
    font-size: 1.5em;
    color: #666;
    align-self: flex-end;
    transition: color 0.3s;
  }
  
  .modal .modal-content .close:hover {
    color: #000;
  }
  
  .modal .modal-content h2 {
    margin: 10px 0;
    color: #333;
    font-size: 1.5em;
  }
  
  .modal .modal-content input,
  .modal .modal-content textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
  }
  
  .modal .modal-content input[type='date'] {
    width: calc(50% - 5px); /* Adjust based on your layout */
  }
  
  .modal .modal-content input:focus,
  .modal .modal-content textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .modal .modal-content textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
  }
  
  .modal .modal-content button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .modal .modal-content button:hover {
    background-color: #0056b3;
  }
  
  .custom-toast {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  .custom-toast.success {
    background-color: #28a745;
    color: white;
  }
  
  .custom-toast.error {
    background-color: #dc3545;
    color: white;
  }
  